<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infoApartment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/apartment1"
        android:label="Info Apartment"
        android:roundIcon="@drawable/apartment1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.infoApartment.About" />
        <activity android:name="com.example.infoApartment.ContactUs" />
        <activity android:name="com.example.infoApartment.ApartementDetail" />
        <activity
            android:name="com.example.infoApartment.MenuUtama"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.infoApartment.SignUp"
            android:label="Register"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name="com.example.infoApartment.SignIn"
            android:label="Login"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity android:name="com.example.infoApartment.MainMenu" />
        <activity android:name="com.example.infoApartment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>